<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul id="navbaar" class="nav navbar-nav">
        <li class="current"><a href="./ranking"><span class="glyphicon glyphicon-th-list"></span> Tabelle</a>
        </li>
        <!--<li><a href="#"><span class="glyphicon glyphicon-fire"></span> Fordern!</a></li>-->
        <li><a href="./forderungen"><span class="glyphicon glyphicon-eye-open"></span> Gefordert <span class="badge"></span> </a></li>
        <li><a href="#alteSpiele"><span class="glyphicon glyphicon-list-alt"></span> Gespielt</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Benutzername</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container text-center">
    <router-outlet></router-outlet>
</div>